

<br>
<p style="font-size:150%;"><b> Welcome to the the numeral converter</b> 
<br>
 This app will convert roman numerals to arabic numerals as well as arabic numerals to roman numerals</p>

<br><br>
 

<form method="post" action="numeral">  <!-- sets up the form to collect code type-->

<b>Click the conversion type that you want to perform.</b><br> <!-- creates radio buttons to determine intent to encode or decode-->
  <input type="radio" name="convert_type" value="to_roman"> from arabic to roman <br> 
  <input type="radio" name="convert_type" value="to_arabic"> from roman to arabic <br> 



     <br>
 <br>

<b>Type your numerals below without punctuation?</b><br>
    <input type="text"  name="numerals">

    <input type="submit">

</form>
<body>
  <style>
    body {background-color: MediumSeaGreen;}
    
    p {color: black;text-align: center;}

      </style>
